<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zbi.server.mapper.mysql.DataLimitMapper">


	<insert id="insertUserDataLimit">
		insert into zbi_db.user_col_limit (user_id,col_id,word)
		values
		<foreach collection="list" item="item" separator=",">
			(#{userID},#{colID},#{word})
		</foreach>
	</insert>

	<insert id="insertGroupDataLimit">
		insert into zbi_db.group_col_limit (group_id,col_id,word)
		values
		<foreach collection="list" item="item" separator=",">
			(#{groupID},#{colID},#{word})
		</foreach>
	</insert>

	<select id="queryUserTotalDataLimit">
		select distinct word from
		zbi_db.group_data_limit
		where group_id=#{groupID} AND
		col_id=#{colID}
	</select>

	<select id="queryGroupDataLimit">
		select word from
		zbi_db.group_data_limit where
		group_id=#{groupID} AND
		col_id=#{colID}
	</select>

	<select id="queryUserColLimit">
		select word from
		zbi_db.user_data_limit where
		user_id=#{userID} AND
		col_ID=#{colID}
	</select>

	<delete id="deleteUserColLimit">
		delete from zbi_db.user_data_limit where
		user_id=#{userID} AND
		col_ID=#{colID}
	</delete>

	<delete id="deleteGroupColLimit">
		delete from zbi_db.group_data_limit where
		group_id=#{groupID} AND col_ID=#{colID}
	</delete>

</mapper>