<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zbi.server.mapper.mysql.FolderInfoMapper">
	<resultMap id="folderInfoResultMap"
		type="org.zbi.server.entity.mysql.FolderInfo">
		<result column="folder_id" property="folderID" />
		<result column="folder_name" property="folderName" />
		<result column="folder_desc" property="folderDesc" />
		<result column="folder_type" property="folderType" />
		<result column="admin_id" property="adminID" />
		<result column="last_update" property="lastUpdate" />
		<result column="last_updater" property="lastUpdater" />
	</resultMap>

	<insert id="createFolder" parameterType="map">
		insert into
		zbi_db.folder_info(folder_id,folder_name,folder_desc,folder_type,admin_id)
		values(#{folderID},#{folderName},#{folderDesc},#{folderType},#{adminID})
	</insert>


	<select id="getQueryFolders" resultMap="folderInfoResultMap">
		select * from
		zbi_db.folder_info as b
		where admin_id =#{userID} or folder_id in
		(select folder_id from board_info where board_id in (select board_id
		from group_board where group_id in (select group_id from group_user
		where user_id=#{userID})))
	</select>

	<select id="getAdminFolders" resultMap="folderInfoResultMap">
		select * from
		zbi_db.folder_info as b
		where admin_id =#{userID} or folder_id in
		(select folder_id from board_info where board_id in (select board_id
		from group_board where group_id in (select group_id from group_user
		where auth_right=1 and user_id=#{userID})))
	</select>


	<select id="checkFolderByName" resultType="boolean">
		select count(1) from
		zbi_db.folder_info where folder_name=#{folderName}
	</select>

	<update id="updateFolder">
		update zbi_db.folder_info set
		folder_name=#{folderName},folder_desc=#{folderDesc} where
		folder_id=#{folderID}
	</update>

	<delete id="deleteFolderByID">
		delete from zbi_db.folder_info where
		folder_id=#{folderID}
	</delete>

</mapper>