<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zbi.server.mapper.mysql.GroupInfoMapper">
	<resultMap id="groupInfoResultMap"
		type="org.zbi.server.entity.mysql.GroupInfo">
		<result column="group_id" property="groupID" />
		<result column="group_name" property="groupName" />
		<result column="group_desc" property="groupDesc" />
		<result column="admin_id" property="adminID" />
		<result column="last_update" property="lastUpdate" />
		<result column="last_updater" property="lastUpdater" />
		<result column="user_num" property="userNum" />
		<result column="board_num" property="boardNum" />
	</resultMap>

	<resultMap id="userResultMap"
		type="org.zbi.server.model.facade.FacadeUser">
		<result column="user_id" property="userID" />
		<result column="email" property="email" />
		<result column="user_name" property="userName" />
		<result column="role_type" property="roleType" />
	</resultMap>

	<insert id="saveGroup">
		insert into
		zbi_db.group_info(group_id,group_name,group_desc,admin_id,last_updater)
		values(#{groupID},#{groupName},#{groupDesc},#{adminID},#{lastUpdater})
	</insert>

	<insert id="saveUserToGroup" parameterType="map">
		<!--@mbg.generated -->
		insert into group_user
		(`group_id`,`user_id`,
		`auth_right`,last_updater)
		values
		<foreach collection="list" item="item" separator=",">
			(
			#{item.groupID,jdbcType=VARCHAR},
			#{item.userID,jdbcType=VARCHAR},
			#{item.authRight,jdbcType=INTEGER},#{item.lastUpdater,jdbcType=VARCHAR})
		</foreach>
	</insert>

	<select id="loadGroupInfoById" resultMap="groupInfoResultMap">
		select * from
		zbi_db.group_info where group_id=#{groupID}
	</select>

	<select id="loadAdminGroup" resultMap="groupInfoResultMap">
		select * from
		zbi_db.group_info where admin_id=#{adminID}
	</select>

	<select id="checkGroupByName" resultType="boolean">
		select count(1) from
		zbi_db.group_info where admin_id=#{adminID} and
		group_name=#{groupName}
	</select>

	<select id="loadGroupUsers" resultMap="userResultMap">
		select b.* from
		zbi_db.group_user as a left join zbi_db.user_info as b on
		a.user_id=b.user_id where group_id=#{groupID}
	</select>

	<update id="updateGroupInfo">
		update zbi_db.group_info set
		group_name=#{groupName},group_desc=#{group_desc}
		where
		group_id=#{groupID}
	</update>


	<update id="updateGroupAdmin">
		update zbi_db.group_info admin_id=#{adminID} where
		where group_id=#{groupID}
	</update>


	<delete id="deleteGroup">
		delete from zbi_db.group_info where
		group_id=#{groupID}
	</delete>

	<delete id="deleteUserInGroup">
		delete from zbi_db.group_user where
		group_id=#{groupID}
	</delete>

</mapper>