<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.zbi.server.mapper.mysql.GroupAndBoardMapper">

	<insert id="saveBoardToGroup">
		insert into zbi_db.group_board
		(board_id,group_id,last_updater)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.boardID},#{item.groupID},#{item.lastUpdater})
		</foreach>
	</insert>

	<select id="loadBoardInGroup">
		select a.*
		from
		zbi_db.group_board as a left join
		zbi_db.board_info as b on
		a.board_id=b.board_id where
		group_id=#{groupID}
	</select>

	<delete id="deleteBoardInGroup">
		delete from zbi_db.group_board where
		group_id=#{groupID}
	</delete>

</mapper>